@charset "utf-8";

#ketqua{
	margin:0px 0px 15px 0px;
	padding:10px;
    text-align:right;
    width: 350px;
	outline:none;
	border:1px solid #333;
}

.button{
	margin:0px 0px 15px 15px;
	padding:10px 10px 10px 10px;
	float:left;
	text-align:center;
	text-transform:uppercase;
	background-color:#666;
	color:#fff;
	width:40px;
}
.button:hover{
	background-color:#333;
}